.flex {
  display: flex;
}

body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  margin: 0;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mt-auto {
  margin-top: auto;
}

.wrapper {
  text-align: center;
}

.title {
  font-size: 10vw;
}

.px {
  padding-left: 4vw;
  padding-right: 4vw;
}

footer {
  margin-bottom: 2em;
}
